@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
  --primary-color: #049FD9;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

ul {
  list-style: none;
}

/* Padding */
.p-0 {
  padding: 0;
}

.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}


/* Margin */
.m-0 {
  margin: 0;
}

.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}

.align-center {
  text-align: center;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary{
  background: var(--primary-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #E8EBF1 solid 1px;
}

.bg-radius {
  border-radius: 4px;
}


/* Forms */
input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  border-radius: 4px;
  width: 100%;
  padding: 0.4rem;
  border: 1px solid #ccc;
}

input[type='button'] {
  display: inline-block;
  border-radius: 4px;
  padding: 0.4rem;
  border: 1px solid #ccc;
  height: 40px;
}

/* Navbar */
.c-navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline !important;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
}

.c-navbar ul {
  display: flex;
}

.c-navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
  text-decoration: none;
}

.c-navbar a:hover {
  color: var(--light-color);
}

.c-navbar .welcome span {
  margin-right: 0.6rem;
}


/* discuss */
.css-26l3qy-menu{
  display: contents;
}

/* Mobile Styles */
@media (max-width: 700px) {
  /* Navbar */
  .c-navbar {
    display: block;
    text-align: center;
  }

  .c-navbar ul {
    text-align: center;
    justify-content: center;
  }
}